.user {
  position: absolute;
  top: 4.2rem;
  right: 4.2rem;
  background-color: var(--color-dark--1);
  padding: 1rem 1.4rem;
  border-radius: 7px;
  z-index: 999;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* @media (max-width: 767px) {
  .user {
    top: auto;
    bottom: 5rem;
  }
} */
/* 
@media (min-width: 768px) and (max-width: 991px) {
  .user {
    top: auto;
    bottom: -30.2rem;
  }
} */

.user img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user button {
  border-radius: 7px;
  border: none;
  padding: 0.6rem 1.2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-brand--2);

  &:hover {
    background-color: #f0091a;
  }
  transition: var(--transition-medium);
  -webkit-transition: var(--transition-medium);
  -moz-transition: var(--transition-medium);
  -ms-transition: var(--transition-medium);
  -o-transition: var(--transition-medium);
}
